@charset "UTF-8";

@font-face {
    font-family: 'Source Code Pro';
    src: url('../Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf');
    src: url('../Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

/* palet of colors */
:root {
    --background: #1f1f1f;
    --white: #fff;
    --yellow: #e5b567;
    --blue: #9cdcfe;
    --lightGray: #d6d6d6;
    --gray: #858585;
    --orange: #e87d3e;
    --pink: #b05279;
    --purple: #9e86c8;
    --green: #b4d273;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro";
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background);
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#lines {
    width: 8%;
    height: 100%;
    background-color: var(--yellow);
    float: left;
}

#txtArea {
    width: 92%;
    height: 100%;
    background-color: var(--background);
    color: var(--lightGray);  
    font-family: Source Code Pro;
    font-size: 1.1em;
    resize: none;  
}

#txtArea {
    outline: none;
}

/* About */

#about {
    padding: 20px;
    color: var(--lightGray);
}

#about h1 {
    font-size: 1.2em;
}